{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form method="post" action="{% url 'update_subject' %}" >
               {% csrf_token %}
               <div class="col-12">
                  <h5 class="form-title"><span>Edit Subject</span></h5>
               </div>
               {% include 'includes/messages.html' %}
               <div class="col-sm-11">
                  <div class="form-group">
                     <label>Subject Name</label>
                     <input type="text" class="form-control" name="subject_name" value="{{subject.subject_name}}" required>
                    <br> <label>Subject Name</label>
                      <input type="text" class="form-control" name="subject_code" value="{{subject.subject_code}}" required>
                     <input type="text" class="form-control" name="subject_id" value="{{subject.id}}" hidden>
                  </div>
               </div>
               <div class="col-sm-11">
                  <label>Branch</label>
                  <select class="form-control" name="branch_id" required >
                     <option>Select Branch</option>
                     {% for i in branch %}
                     <option value="{{i.id}}">{{i.name}}</option>
                     {% endfor %}
                  </select>
               </div><br>
               <div class="col-sm-11">
                  <label>Faculty</label>
                  <select class="form-control" name="faculty_id" required >
                     <option>Select Faculty</option>
                     {% for i in faculty %}
                     <option value="{{i.id}}">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</option>
                     {% endfor %}
                  </select>
               </div><br>
               <div class="col-12">
                  <button type="submit" class="btn btn-primary">Update Course</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}
